/* @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
/* font-family: "Barlow", sans-serif; */
/* @import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"); */
/* font-family: "Fraunces", serif; */
/* variables */
:root {
  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --green-graphic-design-text: hsl(167, 40%, 24%);
  --blue-photography-text: hsl(198, 62%, 26%);
  --green-footer: hsl(167, 34%, 41%);

  --grey950: hsl(212, 27%, 19%);
  --Grey600: hsl(213, 9%, 39%);
  --Grey550: hsl(232, 10%, 55%);
  --Grey400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);
}
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* base styles */
/* fonts */
@font-face {
  font-family: "Barlow";
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

/* mobile styles */
body {
  font-size: 18px;
}
/* header */
h1,
h2,
h3,
span,
button {
  font-family: "Fraunces";
}
p,
blockquote,
a {
  font-family: "Barlow";
}
button {
  border: none;
  background-color: transparent;
}
a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--green-footer);
  outline-offset: 2px;
}
header {
  height: 70vh;
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-bottom: 50px;
}
.main-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--White);
  margin-bottom: 50px;
}
.header-bg-img {
  display: block;
  margin: 0 auto;
}

.nav-container {
  display: none;
}
.open {
  display: block;
  position: fixed;
  width: 100%;
  height: 40vh;
  top: 70px;
  left: 0;
  padding: 0 25px;
}
.triangle {
  justify-self: end;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-bottom: 50px solid white;
}
.main-nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.main-nav-list li a {
  color: var(--Grey550);
  font-size: 0.85em;
  cursor: pointer;
}
.main-nav-list li:last-child a {
  color: var(--grey950);
  text-transform: uppercase;
  font-family: "Fraunces";
  font-weight: 700;
  background-color: var(--yellow);
  padding: 15px 25px;
  border-radius: 25px;
  transition:
    color 0.3s linear,
    background-color 0.3s linear;
}

/* Transform your brand */
.sec-about-brand-transformation,
.sec-right-audiecne {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.transform-img,
.audiecne-img {
  grid-column: 1/2;
  grid-row: 1/2;
}
.transform-img img,
.audiecne-img img,
.photography img,
.design img {
  width: 100%;
  height: 100%;
}
.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  /* padding: 100px; */
  padding: 25px;
}
.sec-header {
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
  color: var(--grey950);
}
.sec-description {
  text-align: center;
  color: var(--Grey550);
  font-size: 0.65em;
  margin-bottom: 35px;
  line-height: 1.5em;
}
.btn-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.btn {
  z-index: 3;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.65em;
  cursor: pointer;
}
.btn-effect {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: -2px;
  width: 90px;
  height: 7px;
  border-radius: 10px;
  opacity: 0.5;
}
.audiecne-btn .btn-effect {
  background-color: var(--red);
}
.transform-btn .btn-effect {
  background-color: var(--yellow);
}

/* ====== */
.sec-useful-skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 550px 550px;
}
.design,
.photography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 40px 25px;
  text-align: center;
}
.design {
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url("../assets/images/mobile/image-graphic-design.jpg");
}
.photography {
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url("../assets/images/mobile/image-photography.jpg");
}
.design h3,
.photography h3 {
  font-size: 1.25em;
  font-weight: 900;

  margin-bottom: 25px;
}
.design h3 {
  color: var(--green-graphic-design-text);
}
.photography h3 {
  color: var(--blue-photography-text);
}
.design p,
.photography p {
  font-size: 0.75em;
  margin-bottom: 25px;
  line-height: 1.5em;
}
.design p {
  color: var(--green-graphic-design-text);
}
.photography p {
  color: var(--blue-photography-text);
}
/* clients */
.sec-clients {
  padding: 45px 25px;
}
.sec-clients h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  letter-spacing: 3px;
  color: var(--Grey400);
  margin-bottom: 25px;
}
.clients-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.client img {
  width: 50px;
  display: block;
  border-radius: 50%;
  margin-bottom: 20px;
}
.client blockquote {
  text-align: center;
  color: var(--Grey600);
  font-size: 0.75em;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.client p span {
  font-weight: 900;
  font-size: 1.5em;

  color: var(--grey950);
}
.client p {
  text-align: center;
  color: var(--Grey400);
  font-size: 0.5em;
  line-height: 1.5em;
}

/* ========= */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery picture {
  display: block;
}
.gallery picture img {
  width: 100%;
  height: 100%;
}
/* ============ */
footer {
  background-color: hsl(167, 34%, 41%, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.footer-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}
.nav-list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-evenly; */
  margin-bottom: 35px;
}
.nav-item a,
.soc-media-list-item a {
  color: var(--green-footer);
  font-size: 0.85em;
  margin: 0 15px;
}
.soc-media-list {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 35px;
}
/* small tablet styles */
@media screen and (min-width: 480px) {
  header {
    background-image: url("../assets/images/desktop/image-header.jpg");
  }
  .design {
    background-image: url("../assets/images/desktop/image-graphic-design.jpg");
  }
  .photography {
    background-image: url("../assets/images/desktop/image-photography.jpg");
  }
  .client blockquote {
    font-size: 0.85em;
  }
  .sec-header {
    font-size: 1.25em;
  }
  .sec-description {
    font-size: 0.75em;
  }
  .btn {
    font-size: 0.75em;
  }
  .btn-effect {
    width: 100px;
  }
}
/* large tablet & laptop styles */
@media screen and (min-width: 768px) {
  .navigation .burger {
    display: none;
  }
  .main-nav-list {
    display: flex;
  }
  /* Transform your brand */
  .sec-about-brand-transformation,
  .sec-right-audiecne {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .transform-img {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .audiecne-img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .sec-right-audiecne .main-info {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .sec-about-brand-transformation .main-info {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .sec-useful-skills {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 550px;
  }
  .design {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../assets/images/desktop/image-graphic-design.jpg");
  }
  .photography {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../assets/images/desktop/image-photography.jpg");
  }
  .sec-header {
    text-align: start;
  }
  .sec-description {
    text-align: start;
  }
  .main-info {
    align-items: start;
  }
  .clients-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* -------------------- */
  .main-nav-list {
    display: flex;
  }
  .nav-container {
    display: block;
  }
  .main-nav-list li a {
    margin-left: 25px;
    color: var(--White);
    font-size: 0.75em;
    cursor: pointer;
  }
  .main-nav-list li:last-child a {
    background-color: var(--White);
    transition:
      color 0.3s linear,
      background-color 0.3s linear;
  }
  .main-nav-list li:last-child a:hover {
    color: var(--White);
    background-color: hsl(0, 100%, 100%, 0.3);
  }
  .nav-container {
    display: block;
    position: static;
    width: auto;
    height: 0;
    padding: 0;
  }
  .triangle {
    display: none;
  }
  .main-nav-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
  }
}
/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 22px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .design,
  .photography {
    padding: 40px 80px;
  }
  .btn-effect {
    width: 120px;
  }
  .main-info {
    padding: 80px;
  }
   .client blockquote {
    font-size: 0.75em;
  }
}
